.joystick{
    bottom: 18px;
    position: absolute !important;
    width: 100px;
    height: 100px;
    background: #ffffff26;
    border-radius: 50%;
  }

  .player-online{
    position: absolute;
    color: white;
    left: 6px;
    top: 8px;
  }

  canvas{
    overflow: hidden;
    position: fixed;
  }

  .bx{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 20px;
    display: flex;
    justify-content: center;
  }

  .nme{
    position: fixed;
    top: 0;
    right: 0;
  }


  .hud {
    position: absolute;
    top: 39px;
    left: 7px;
    color: white;
    font-family: Arial, sans-serif;
    pointer-events: none; /* Membuat HUD tidak mengganggu interaksi dengan scene 3D */
  }
  
  .health-bar {
    width: 200px;
    height: 10px;
    background-color: red;
  }
  
  .health-bar-inner {
    height: 100%;
    background-color: green;
  }

  .fire{
    left: 15px;
    position: absolute;
    top: -200px;
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
  }