.joystick{
    bottom: 18px;
    position: absolute !important;
    width: 100px;
    height: 100px;
    touch-action: none !important;
    background: #ffffff26;
    border-radius: 50%;
  }

  .player-online{
    position: absolute;
    color: white;
    left: 6px;
    top: 8px;
  }

  canvas{
    overflow: hidden;
  }

  .bx{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 20px;
    display: flex;
    justify-content: center;
  }

  .nme{
    position: absolute;
    top: 0;
    right: 0;
  }