canvas {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
  }

  .joystick{
    bottom: 34px;
    left: 3px;
    position: absolute !important;
    touch-action: none;
    width: 200px;
    height: 200px;
    background: #ffffff26;
    border-radius: 50%;
  }

  .box{
    position: absolute;
    top: 9px;
    left: 7px;
    display: flex;
  }


  .porto{
    width: fit-content;
    background: #3d6303;
  
    padding: 10px;
    color: white;
    border-radius: 21px;
   
  }

  .porto:hover{
    cursor: pointer;
  }