.renderer-container {
    /* width: 100vh; */
    height: 100vh;
    position: fixed;
  }
  

  .joystick{
    bottom: 66px;
    left: 18px;
    position: absolute !important;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.149);
    border-radius: 50%;
    z-index: 1000;
  }

  .bx-ammo{
    background: #ffffff;
    padding: 20px;
    font-size: 25px;
    border-radius: 16px;
    transform: rotateY(49deg);
    transform: rotate3d(9, 6, 7, 349deg);
    opacity: 0.6;
    bottom: 50px;
    left: 16%;
  }