.renderer-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
  }


  .crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
  }

  .joystick{
    bottom: 66px;
    left: 18px;
    position: absolute !important;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.149);
    border-radius: 50%;
    z-index: 1000;
  }

  .box-fire{
    bottom: 66px;
    right: 47px;
    position: absolute !important;
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.149);
    border-radius: 50%;
    z-index: 1000;
  }

  /* #crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    
} */